Creating an application which stores numbers in Sql Server Database.

We will have two pages for this application:
Index -> This page will fetch all the numbers from the Sql Database Table
Enter Number -> Entering a number should store in a database.

Database should be called "NumbersDatabase"
The Table to store should be called "NumbersTable"

Advanced Requirements:
1. Entering number should only allows unique numbers:
If that numbers already exists in the database it should display a message that "The number already exists in the database";